body {
background: none repeat scroll 0 0 #F2F2F2;
font: 14px "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
line-height:2em;}

input, button, select, textarea {
font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;
}

li{line-height:2em;}

dl{margin-bottom:0px;}

dt{line-height:2.4em;}

dd{margin-left:0px;line-height:2.8em;}

#userNav{
font-size:14px;
margin-top:30px;}

.signBorder{
background-color:#F89406!important;}

.red {
    color: #B50000;
}

.main_left0 {
    display: none;
}

.font_12 {
    font-size: 12px;
}

.nav-tabs .active {
    font-size:14px;
    font-weight:800;
}

.thumbnail img{
max-width:90%;
padding-top:15px;
padding-bottom:15px;}

.topform-search{
padding-top:25px;
margin-right:10px;}

.top {
background: none repeat scroll 0 0 #ECECEC;
border-bottom: 1px solid #D9D9D9;
height: 60px;
padding-top: 10px;
padding-bottom:10px;}

.logcontent,.examcontent,.footcontent{
margin: 0 auto;
margin-top: 30px;
background: none repeat scroll 0 0 #F9F9F9;}

.logcontent{margin-top:0px;}

.examcontent{margin-top:0px;}

.toolcontent{
position:fixed;bottom:0px;margin-bottom:0px;width:100%;border-top: 1px solid #DADADA;background-color:#F9F9F9}

.footcontent{margin-top:10px;border:0px;}

.logbox,.exambox{
height: auto;
overflow:hidden;
border:0px solid #dadada;}

.logform,.examform{
padding-top:25px;
overflow: hidden;}

.logcontrol{
padding-top:0px;}

.logcontrol input{padding:7px;font-weight:bold;}

.logcontrol .control-label{font-size:14px; font-weight:bold;}

.logcontrol .controls span{margin-left:20px;}

.logbtn{
font:16px/40px 700;
height: 40px;
width: 80px;
margin-right:15px;}

.logfooter {
margin-top: 25px;
text-align: center;}

.modal{width:80%;
left:90%;}

.decidediv .right,.decidediv .wrong{
width:200px;
height:200px;
right:60px;
top:50px;
position:absolute;
z-index:99;}

.scoreArea{
right:80px;
top:180px;
position:absolute;
z-index:99;
font-size:60px;
color:#FF0000;
font-family:"MV Boli";}