body{background:url('../images/bg.png');}
a{color:#333333;}
.navbar .nav{margin:0px auto;width: auto;}
.navbar-inner{border-radius:0px;padding:0px;}
.caption{margin-top:0.5em;}
.carousel{border: 4px solid #FFFFFF;box-shadow: 0px 1px 1px 1px rgba(202, 202, 202, 0.8);}
.carousel-caption{padding:5px 10px;background:none repeat scroll 0 0 rgba(0, 0, 0, 0.5)}
.carousel-control{width:16px;height:16px;font-size:18px;line-height:14px;top:97%;left:10px;}
.carousel-control.right{right:10px;}
.thumbnails > li{margin-bottom:10px;}
.thumbnail{border-width:2px;background:none repeat scroll 0 0 rgba(255, 255, 255, 0.5);margin:0.3em;}
.foot{height:50px;}
#footnav{padding:0px 24px;width:290px;margin: auto;}
img.media-object{width:60px;}