*{font-family:"Microsoft YaHei"}
a:hover,a:focus{text-decoration:none;}
.borderbox{padding:1em;border: 1px solid #DDDDDD;border-radius:0.25em;background:#FFFFFF;}
.noborderbox{background:#FFFFFF;background-color: #F5F5F5;padding:1em}
.greyrow{background-color: #F5F5F5;border: 1px solid #DDDDDD;border-radius:0.25em;}
.blocker{margin-top:1em;}
.randCode{height:28px;width:72px;cursor:pointer;}
.dropdown-menu,.dropdown-menu li{background-color:#FFFFFF;}
.thumbuper{width: 210px; height: auto;position:relative;overflow:hidden;padding:5px 5px 5px 0px;}
.thumbuper .boot{width: auto; height: auto;text-align:right;overflow:hidden;}
.thumbuper .first{position:absolute;width: 100%; height: 100%;line-height:150px;top:0px;left:0px;text-align:center;z-index:9;color:#999999;}
.thumbuper .second,.thumbuper .second2{position:absolute;width: 16px; height: 16px;bottom:10px;right:12px;z-index:999;}
.thumbuper .second2{top:16px;}
.cke_dialog_contents input[type="text"]{height:24px;line-height:1em;}
.thumbuper .swfupload{cursor:pointer;}
.thumbuper .thumbnail{min-height:150px;}
input.liter{width:24px;padding:2px 5px;}
.media .plugin{border:1px solid #E3E3E3; padding:2px;overflow:hidden;width:120px;}
a.current{font-weight:800;color:#000000;}
.accordion-toggle{font-weight:800;}
.accordion-inner li{line-height:2em;}
.datepicker{z-index: 9999;}
.weixintool{position:absolute;text-align:right;margin-top:-35px;left:240px;width:105px;height:35px;z-index:999;background-color:#333333;line-height:35px;}
.weixintool a{margin-right:15px;}